<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p class="is-size-5"><strong class="site-logo">INDIGO</strong> &copy; 2018</p>
      <p class="is-size-6">
        Created by
        <a href="https://github.com/leemun1">Mike Lee</a> 
      </p>
    </div>
  </div>
</footer>