<h1>Welcome</h1>
<p>Hi, welcome to Indigo.</p>
<p>Read, write, and share your stories. Indigo is your social diary.</p>
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>