<h2>Hi, welcome to Indigo.</h2>
<p>Read, write, and share your stories. Indigo is your social diary.</p>
<a class="btn red darken-2" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>